.app-css {
    display: flex;
    justify-content: center;
}
.nav {
    background-color: #232323;
    height: 100px;
    width: 27%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0%;
  }
  
  .nav button {
    background-color: transparent;
    border: none;
  }
