.btn-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    height: 100%;
    width: 100%;
    padding: 0 20px;
}

.menu-btn-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.menu-btn {
    width: 55%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--cor-fundo-input);
    box-shadow: var(--box-shadow2);
    color: var(--cor-texto-primaria);
    cursor: pointer;
    transition: all 0.15s;
    border-radius: 10px;
    padding: 5px 5px;
    gap: 20px;
    border: none;
}

.menu-btn img {
    width: 40px;
    height: 40px;
}

.menu-btn:hover {
    background: darkgrey;
    box-shadow: var(--box-shadow2);
}

.menu-btn:focus {
    transition: background 0.05s;
    outline: none;
    background: grey;
    box-shadow: var(--box-shadow2);
}

.progress {
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    color: var(--cor-texto-primaria);
    font-size: 1rem;
}