.back-btn {
    background: transparent;
    border: none;
    position: absolute;
    top: -5%;
    left: 25%;
}

@media screen and (max-width: 480px) {
    .back-btn {
        left: 5%;
    }

    .back-btn img {
        width: 30px;
        height: 30px;
    }

}