.back-btn {
    position: absolute;
    top: 10px;
    left: 25px;
    background: transparent;
}

.back-btn button {
    background: transparent;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--cor-texto-primaria);
}

.back-btn button svg {
    font-size: 1.5rem;
}