.auth-panel {
    width: 80%;
    height: 80%;
    margin: 20px auto;
}

.icons {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-label-cont {
    margin: 10px 0;
    width: 30%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor-fundo-input);
}

.input-label-cont label {
    width: 100px;
    height: 50px;
    font-size: 15px;
    background: var(--laranja);
    color: black;
    margin-right: 5px;
    border-radius: 5px 20px 20px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.input-cont {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}

.input-label-cont input {
    width: 100%;
    padding: 5px;
    border: none;
    background: transparent;
    outline: none;
    padding: 1px 2px;
    color: var(--cor-placeholder);
}

.input-label-cont input[type = "password"] {
    width: 80%;
}

/* .input-label-cont label,
.senha_inp label {
    background-color: var(--laranja);
    padding: 20px;
    width: 25%;
    margin-right: 15px;
} */

.input-label-cont input::placeholder {
    color: var(--cor-placeholder);
}

.input-label-cont img.icons {
    fill: var(--cor-placeholder);
}

.input-label-cont .eye-icon {
    width: 20px;
    aspect-ratio: 1;
    margin: 0 auto;
    cursor: pointer;
}

.separador {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 320px;
}

.separador span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;
    flex: .2 0 auto;
}

.separador span::before, .separador span::after {
    content: "";
    background: #000;
    border: 1px solid #000;
    height: 1.5px;
    width: 140%;
    flex: 1 0 auto;
    border-radius: 50px;
    margin: 0 10px;
}

.btn-cont-auth {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-cont-auth .btns {
    padding: 5px 10px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-cont-auth .google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btnGoogle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}