@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --azul-escuro: #0194BE;
  --azul-claro: #0FC3E8;
  --laranja: #F07E13;

  --cor-fundo: #F5F5F5;
  --cor-texto-primaria: #232323;
  --cor-placeholder: #F8F8F8;
  --cor-fundo-input: #B9B9B9;
}

[data-theme = 'dark'] {
  --cor-fundo: #232323;
  --cor-texto-primaria: #F5F5F5;
  --cor-placeholder: #3A3A3A;
  --cor-fundo-input: rgba(0, 0, 0, 0.3);
}

.poppins-thin {
  font-weight: 100;
}

.poppins-light {
  font-weight: 300;
}

.poppins-regular {
  font-weight: 400;
}

.poppins-medium {
  font-weight: 500;
}

.poppins-semibold {
  font-weight: 600;
}

.poppins-bold {
  font-weight: 700;
}

.poppins-extrabold {
  font-weight: 800;
}

.poppins-black {
  font-weight: 900;
}

.shadow-effect {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}