div.welcome-panel {
    width: 80%;
    height: 80%;
    margin: 5% auto;
}

div.img-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25% 0 45% 0;
}

div.btn-cont {
    width: 100%;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div.btn-cont .btnsWelcome {
    width: 100%;
    padding: 5px 10px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 480px) {

    div.welcome-panel {
        width: 100%;
        height: 100%;
        margin: 5% auto;
    }
    
    div.img-cont {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25% 0 30% 0;
    }
    
    div.btn-cont {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    div.btn-cont .btnsWelcome {
        padding: 15px 10px;
        border: none;
        color: black;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
    }
    
}