.DownloadContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.DownloadContent .logo {
  height: 100px;
  margin: 0;
}

.DownloadContent .content-img {
  margin: 10% auto;
  width: 100px;
  height: 100px;
}

.DownloadContent .download-content-btns {
  width: 80%;
  height: 50px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.DownloadContent .download-content-btns img {
  width: 25px;
  height: 25px;
}

.DownloadContent .download-content-btn {
  background: var(lightgrey);
}

.DownloadContent .download-content-btn {
  text-decoration: none;
  color: var(--primary-text-color);
}

.DownloadContent .start-btn {
  background: var(--azul-claro);
}